@font-face {
  font-family: "Rowdies";
  src: url("/src/fonts/Rowdies/Rowdies-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("/src/fonts/Rowdies/Rowdies-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Rowdies", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}
