@use "./colors" as *;

@font-face {
  font-family: "Rowdies";
  src: url("/src/fonts/Rowdies/Rowdies-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rowdies";
  src: url("/src/fonts/Rowdies/Rowdies-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Rowdies", sans-serif;
  color: $dark-blue;
}

.big-header {
  font-size: 4rem;
  color: $highlight;
  text-shadow: 3px -3px #009889, 2px 1px 10px black;
  text-transform: uppercase;
}

.subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}
