@use "../global/" as *;

#detail-view {
  .coin-details {
    display: flex;
    gap: 2rem;
    border: 3px solid white;
    padding: 1rem;
  }

  .coin-info {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;

    div {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 1rem;
    }

    div span:last-child {
      min-width: 170px;
      text-align: end;
    }
  }
}
