@use "../global/" as *;

#detail-view {
  min-height: 90svh;

  .coin-details {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    border: 3px solid white;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
  }

  .image-and-details {
    display: flex;
    gap: 1rem;
    width: 60%;
  }

  .coin-info {
    width: 100%;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;

    div {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    div span:last-child {
      text-align: end;
    }
  }

  .coin-description {
    height: 210px;
    width: 40%;
    word-break: break-word;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $dark-blue;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $highlight;
      border-radius: 5px;
    }
  }

  .diagram-container {
    margin-top: 1rem;
    padding: 0 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .diagram {
    height: 350px;
    min-width: 700px;
  }

  .choose-period {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

    button {
      padding: 0.2rem 0.5rem;
      background-color: white;
      border-radius: 5px;
      border: none;
      box-shadow: 2px 2px 5px black;
      cursor: pointer;
    }

    button.active {
      background-color: $dark-blue;
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  #detail-view {
    .coin-details {
      flex-direction: column;
      margin: 0 1rem;
    }

    .coin-description {
      width: 100%;
    }

    .image-and-details {
      width: 100%;
    }
  }
}

@media (max-width: 640px) {
  #detail-view {
    .image-and-details {
      flex-direction: column;

      img {
        width: 30%;
        margin: 0 auto;
      }
    }

    .diagram-container {
      padding: 0;
    }

    .yAxis {
      font-size: 0.75rem;
    }
  }
}
