@use "../global/" as *;

#market {
  border: 3px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  table {
    width: 100%;
  }

  th {
    font-size: 1.4rem;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 35%;
    font-size: 1.25rem;
    border-bottom: 2px solid black;
    padding: 0.75rem;
  }

  tbody img {
    width: 30px;
    margin-right: 5px;
  }

  tbody tr {
    transition: 0.3s ease-in-out;
  }

  tbody tr td:first-child {
    display: flex;
  }

  tbody tr:hover {
    background-color: $bg-light;
    cursor: pointer;
  }

  th,
  td {
    text-align: end;
  }

  th:first-child,
  td:first-child {
    text-align: start;
  }
}

.profit {
  color: green;
}
.loss {
  color: red;
}
